body
{
    margin: 0 auto;
    height: auto;
}
.Mountain
{
    background-image: url("resource/indexMountains.svg"), linear-gradient(#F4B795, #5F4F79);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 3000px;
    height: 600px;
}
.Welcome
{
    font-size: 1.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 175px;
    background: linear-gradient(#8566B1, #5F4F79 80%, #9B6559);
}
.Team
{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #9B6559;
}
.Start
{
    font-size: 1.5em;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #AC6479;
}
.Team h1
{
    font-size: 4em;
}
.ourGroup, .WelAlign
{
    display: flex;
    flex-wrap: wrap;
}
.ourGroup div
{
    margin: 0 auto;
}
.WelAlign div
{
    margin: 0 auto;
    max-width: 40%;
    max-height: 40%;
    align-self: center;
}
.ourGroup div p
{
    font-size: 1.5em;
}
.ourGroup div h1
{
    font-size: 2.5em;
}
p, h1
{
    color: white;
}
a
{
    display: inline-block;
    border: solid 5px;
    text-decoration: none;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    transition: 0.3s;
}
a:hover
{
    background-color: white;
    color: #AC6479;
    border: solid 5px white;
    transition: 0.3s;
    padding-left: 70px;
    padding-right: 70px;
}