@keyframes bouncing
{
    0%, 100% {transform: translateY(5%);}
    50% {transform: translateY(-5%);}
}
@keyframes rotate
{
    0%, 100% {transform: rotateZ(5deg);}
    50% {transform: rotateZ(-5deg);}
}
body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(0.25turn, #272B6A, #6B45A6, #272B6A);
}
.Mountain
{
    background: url("resource/indexPeak.svg") fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}
.Welcome
{
    font-size: 1.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.Team
{
    text-align: center;
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 150px;
    background-image: linear-gradient(0.25turn, #5B3D98, #7E57CA, #5B3D98);
    background-size: cover;
}
.Start
{
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact
{
    background: linear-gradient(0.25turn, #5B3D98, #7E57CA, #5B3D98);
    display: block;
    text-align: center;
}
.contact img
{
    max-width: 80%;
    padding-bottom: 100px;
}
.Team h1
{
    font-size: 6em;
    padding-bottom: 10px;
}
.Team h2
{
    color: white;
    font-size: 3em;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}
.ourGroup, .WelAlign, .Start
{
    display: flex;
    flex-wrap: wrap;
}
.Start img
{
    margin: 0 auto;
    max-width: 100%;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.ourGroup div
{
    margin: 0 auto;
}
.WelAlign div, .Start div
{
    margin: 0 auto;
    max-width: 40%;
    align-self: center;
}
.WelAlign div object
{
    max-width: 115%;
    max-height: auto;
}
.ourGroup div p
{
    font-size: 1.5em;
    margin-top: -20px;
}
.ourGroup div h1
{
    font-size: 2.5em;
    margin-top: -10px;
}
.ourGroup div img
{
    width: 150px;
    height: auto;
    margin: 0 auto;
    transform: translateX(50%);
}
p, h1
{
    color: white;
}
.Mountain h2
{
    color: goldenrod;
    font-size: 6vw;
}
.Mountain a
{
    font-size: 4em;
    margin-bottom: 250px;
}
.Mountain img
{
    display: flex;
    margin: -1px auto;
    width: 100%;
    height: auto;
}
.Welcome h1
{
    font-size: 3em;
}
.Welcome p
{
    font-size: 0.9em;
}
.vague1
{
    position: relative;
    width: 100%;
    top: 6px;
}
.vague2
{
    position: relative;
    width: 100%;
    top: -2px;
}
a
{
    display: inline-block;
    border: solid 5px;
    text-decoration: none;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    transition: 0.3s;
}
a:hover
{
    background-color: white;
    color:#6B45A6;
    border: solid 5px white;
    transition: 0.3s;
    padding-left: 70px;
    padding-right: 70px;
}