body
{
    margin: 0 auto;
    overflow: hidden;
    height: 100%
}
div
{
    position: absolute;
}
.ileDesign
{
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
}