body
{
    margin: 0 auto;
}
div
{
    position: absolute;
}
img
{
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    height: 500px;
    left: 50vw;
    bottom: -100vh;
    transform: translateX(-50%);
}