body
{
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    background-color: #3A85DD;
}
.peak1, .peak2, .peak3, .peak4
{
    position: absolute;
    padding: 2.5vw;
    top: 60vh;
    background: none;
    user-select: none;
    background-color: rgba(255, 0, 0, 0.5);
}
.peak1
{
    left: 50vw;
}
.peak2
{
    left: 150vw;
}
.peak3
{
    left: 250vw;
}
.peak4
{
    left: 350vw;
}
/* boutons scroll horizontal */
.scrollLeft, .scrollRight
{
    position: absolute;
    width: 7vw;
    top: 60vh;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.7;
    transition-duration: 0.3s;
    cursor: pointer;
}
.scrollLeft:hover, .scrollRight:hover
{
    width: 9vw;
    opacity: 1;
    transition-duration: 0.3s;
}
.scrollLeft
{
    left: 10vw;
}
.scrollRight
{
    left: 90vw;
}
/* la boussole */
.compass
{
    position: absolute;
    left: 12vw;
    top: 11vw;
    transform: translate(-50%, -50%);
    width: 10vw;
    z-index: 1;
    cursor: pointer;
}
.north, .south, .east, .west
{
    position: absolute;
    width: 4vw;
    z-index: 1;
    left: 12vw;
    top: 11vw;
    cursor: pointer;
    opacity: 0;
}
.north
{
    transform: translate(-50%, -240%);
}
.south
{
    transform: translate(-50%, 190%);
}
.east
{
    transform: translate(140%, -50%);
}
.west
{
    transform: translate(-240%, -50%);
}
/* 1ère ile */
.mtn1
{
    transform: translateX(-18.8vw) translateY(-165%);
}
.mtn2
{
    transform: translateX(-0.7vw) translateY(-155%);
}
.mtn3
{
    transform: translateX(10.6vw) translateY(-235%);
}
.mtn4
{
    transform: translateX(13vw) translateY(15%);
}
/* 2ème ile */
.mtn5
{
    transform: translateX(-21.6vw) translateY(-235%);
}
.mtn6
{
    transform: translateX(-17.5vw) translateY(0%);
}
/* .mtn7
{
    transform: translateX(2.8vw) translateY(-230%);
} */
.mtn7
{
    transform: translateX(3.5vw) translateY(70%);
}
.mtn8
{
    transform: translateX(13.2vw) translateY(-85%);
}
/* 3ème ile */
.mtn9
{
    transform: translateX(-19vw) translateY(-145%);
}
.mtn10
{
    transform: translateX(-7vw) translateY(-260%);
}
.mtn11
{
    transform: translateX(-6.5vw) translateY(-45%);
}
.mtn12
{
    transform: translateX(12.4vw) translateY(-220%);
}
.mtn13
{
    transform: translateX(13vw) translateY(-45%);
}
/* 4ème ile */
.mtn14
{
    transform: translateX(-21.4vw) translateY(60%);
}
.mtn15
{
    transform: translateX(-18vw) translateY(-140%);
}
.mtn16
{
    transform: translateX(2.6vw) translateY(-220%);
}
.mtn17
{
    transform: translateX(2.7vw) translateY(40%);
}
/* .mtn19
{
    transform: translateX(12.7vw) translateY(-55%);
} */
.ilePos
{
    position: absolute;
    left: 50vw;
    top: 60vh;
    transform: translateX(-50%) translateY(-50%);
    width: 60vw;
    margin: auto;
}
.banner
{
    top: 10vh;
    width: 40vw;
    user-select: none;
}
.ileDesign
{
    left: 150vw;
    user-select: none;
}
.ileCommunication
{
    left: 250vw;
    user-select: none;
}
.ileDevelopement
{
    left: 350vw;
    user-select: none;
}