body
{
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    background-color: #3A85DD;
}
.ilePos
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 80vw;
    max-height: 70vh;
    margin: auto;
}
.ileDesign
{
    left: 150vw;
}