body
{
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    background-color: #3A85DD;
}
/* .debugTest
{
    display: flex;
} */
a
{
    position: absolute;
    padding: 3.5vw;
    background: rgba(255, 0, 0, 0.5);
    transform: translateX(-50%) translateY(-50%);
}
.mtn1
{
    left: 28vw;
    top: 42vh;
}
.ilePos
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 80vw;
    margin: auto;
}
.ileDesign
{
    left: 150vw;
}