body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    height: 100%;
    background: #2d6ea3;
}
.mountain
{
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    width: 100vw;
    bottom: 0vh;
    background: linear-gradient(#2d6ea3, #bde2ff);
}
.salaire, .mission, .competence, .definition
{
    position: fixed;
    bottom: 0vh;
    cursor: pointer;
}
.salaire
{
    left: 42.2vw;
    padding-right: 8vw;
    padding-top: 5vw;
    transform: translateY(-29vw);
}
.mission
{
    left: 40vw;
    padding-right: 13vw;
    padding-top: 7.5vw;
    transform: translateY(-21vw);
}
.competence
{
    left: 34vw;
    padding-right: 25vw;
    padding-top: 10vw;
    transform: translateY(-10.5vw);
}
.definition
{
    left: 27vw;
    padding-right: 40vw;
    padding-top: 10vw;
}
.textbox
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    word-wrap: break-word;
    color: white;
    font-size: 1rem;
    padding: 5vw;
    overflow: auto;
    border-radius: 3vw;
    padding: 1vw;
    left: 72vw;
    bottom: 15vw;
    width: 25vw;
    height: 30vw;
}
.goBack
{
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: solid 5px black;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    padding: 20px;
}
.goBack:hover
{
    background-color: black;
    transition-duration: 0.3s;
}